.content
  = render 'shared/header'
  .content__left
    = render 'shared/left-content'
  .content__main
    = link_to root_path do
      .content__main__head
        %i.fa.fa-repeat.content__main__head__repeat{"aria-hidden" => "true"}
        .content__main__head__text 更新する
    = render partial: 'shared/tweet-list', collection: @tweets, as: :tweet
