.content__left__profile
  .content__left__profile__over
    = link_to root_path class: "content__left__profile__over__link" do
      .content__left__profile__over__link__imagebox
        = image_tag "image14.jpg", width:300, height:100, class: "content__left__profile__over__link__box__image"
  .content__left__profile__middle
    .content__left__profile__middle__top
      .content__left__profile__middle__top__imagebox
        = image_tag "image6.jpg", width:72, height:72, class: "content__left__profile__middle__top__imagebox__image"
    .content__left__profile__middle__under
      .content__left__profile__middle__under__nickname
        ドドリア
      .content__left__profile__middle__under__name
        @kyui
  .content__left__profile__under
    .content__left__profile__under__tweet
      .content__left__profile__under__tweet__text
        ツイート
      .content__left__profile__under__tweet__count
        345
    .content__left__profile__under__follow
      .content__left__profile__under__follow__text
        フォロー
      .content__left__profile__under__follow__count
        44
    .content__left__profile__under__follower
      .content__left__profile__under__follower__text
        フォロワー
      .content__left__profile__under__follower__count
        112
.content__left__trend
  .content__left__trend__head
    / .content__left__trend__head__title おすすめトレンド
    .content__left__trend__head__edit
  .content__left__trend__body
    / .content__left__trend__body #ああああ
    / .content__left__trend__body 45678件のツイート
