// 全体部分
.content {
  width: 100vw;
  height: 100vh;
  background-color: #e6ecf0;
}

// ヘッダー部分
.content__header {
  width: 100vw;
  height: 46px;
  background-color: white;
  border-bottom-color: #e6ecf0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  position: fixed;
  &__menu {
    margin: 0 125px;
    display: flex;
    padding-bottom: 1px;
    &__left {
      width: 411px;
      display: flex;
      &__link {
        color: #66757f;
        &__home {
          width: 75px;
          padding: 0 14px 0 4px;
          display: flex;
          &__icon {
            width: 23px;
            margin-top: 10px;
            font-size: 21px;
            &__btn {
              color: #66757f;
            }
          }
          &__text {
            width: 39px;
            height: 15px;
            margin-top: 17px;
            margin-left: 3px;
            color: #66757f;
            font-size: 13px;
            font-weight: bold;
            overflow-y: hidden;
          }
        }
      }
      &__link {
        color: #66757f;
        &__moment {
          width: 101px;
          padding: 0 14px 0 4px;
          display: flex;
          &__icon {
            width: 23px;
            margin-top: 10px;
            font-size: 21px;
            text-align: center;
            &__btn {
              color: #66757f;
            }
          }
          &__text {
            width: 65px;
            height: 15px;
            margin-top: 17px;
            margin-left: 3px;
            color: #66757f;
            font-size: 13px;
            font-weight: bold;
            overflow-y: hidden;
          }
        }
      }
      &__link {
        color: #66757f;
        &__notice {
          width: 62px;
          padding: 0 14px 0 4px;
          display: flex;
          &__icon {
            width: 23px;
            margin-top: 10px;
            font-size: 21px;
            text-align: center;
            &__btn {
              color: #66757f;
            }
          }
          &__text {
            width: 26px;
            height: 15px;
            margin-top: 17px;
            margin-left: 3px;
            color: #66757f;
            font-size: 13px;
            font-weight: bold;
            overflow-y: hidden;
          }
        }
      }
      &__link {
        color: #66757f;
        &__message {
          width: 101px;
          padding: 0 14px 0 4px;
          display: flex;
          &__icon {
            width: 23px;
            margin-top: 10px;
            font-size: 21px;
            text-align: center;
            &__btn {
              color: #66757f;
            }
          }
          &__text {
            width: 65px;
            height: 15px;
            margin-top: 17px;
            margin-left: 3px;
            color: #66757f;
            font-size: 13px;
            font-weight: bold;
            overflow-y: hidden;
          }
        }
      }
    }
    &__center {
      display: flex;
      margin: 10px 200px 0 170px;
      &__icon {
        width: 30px;
        font-size: 21px;
        color: #1da1f2;
        text-align: center;
      }
    }
    &__right {
      width: 374px;
      display: flex;
      &__form {
        width: 221px;
        &__search {
          width: 200px;
          margin-top: 7px;
          margin-right: 15px;
          &__textbox {
            width: 221px;
            border: 1px;
            display: flex;
            &__inner {
              background-color: #f5f8fa;
              width: 175px;
              height: 14px;
              padding: 8px 32px 8px 12px;
              border-radius: 21px;
              font-size: 12px;
              color: #14171a;
              display: flex;
            }
            &__icon {
              width: 18px;
              height: 14px;
              font-size: 16px;
              color: #66757f;
              margin-top: 5px;
              margin-left: 5px;
              display: flex;
              &__send {
                display: none;
              }
              &__btn {
                position: absolute;
                left: 1105px;
                top: 15px;
              }
            }
          }
        }
      }
      &__profile {
        font-size: 28px;
        color: #66757f;
      }
      &__tweet {
        margin-top: 8px;
        margin-left: 16px;
        &__btn {
          width: 90px;
          height: 30px;
          background-color: #4AB3F4;
          border-color: #4AB3F4;
          border-radius: 100px;
          font-size: 14px;
          text-align: center;
          font-weight: bold;
          line-height: 20px;
          color: white;
        }
      }
    }
  }
}

// モーダル部分
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1
 }

#modalWindow {
  width: 610px;
  height: 210px;
  position: fixed;
  // border: 1px solid #4AB3F4;
  // background-color: #FFF;
  display: none;
  z-index: 2
}

.modalWindow__header {
  width: 586px;
  height: 24px;
  background-color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #14171a;
  padding: 12px;
  &__title {
    width: 430px;
    height: 24px;
    margin-left: 70px;
    margin-right: 60px;
    float: left;
  }
  &__btn {
    float: left;
    cursor : pointer;
  }
}


.modalWindow__body {
  width: 586px;
  height: 143px;
  background-color: #e8f5fd;
  padding: 8px 12px;
  &__icon {
    width: 34px;
    height: 143px;
    display: block;
    float: left;
    &__image {
      border-radius: 50%;
    }
  }
  &__textarea {
    width: 503px;
    height: 64px;
    padding: 8px 31px 8px 8px;
    margin-left: 5px;
    border-color: #a4daf9;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    color: #aab8c2;
    float: left;
    font-size: 14px;
  }
  &__under {
    width: 545px;
    height: 37px;
    // clear: both;
    &__left {
      width: 210px;
      height: 37px;
      color: #a4daf9;
      float: left;
      // font-size: 14px;
      // margin-top: 20px;
      &__image {
        width: 24px;
        height: 27px;
        border: 1px;
        padding: 14px 10px;
        float: left;
        font-size: 24px;
        cursor: pointer;
        &__field {
          display: none;
        }
        &__btn {
          display: block;
        }
      }
      &__gif {
        width: 24px;
        height: 27px;
        border: 1px;
        padding: 14px 10px;
        margin-left: 5px;
        float: left;
        font-size: 24px;
        cursor: pointer;
        &__btn {
          display: block;
        }
      }
      &__vote {
        width: 24px;
        height: 27px;
        border: 1px;
        padding: 14px 10px;
        margin-left: 5px;
        float: left;
        font-size: 24px;
        cursor: pointer;
        &__btn {
          display: block;
        }
      }
      &__map {
        width: 24px;
        height: 27px;
        border: 1px;
        padding: 14px 10px;
        margin-left: 5px;
        float: left;
        font-size: 24px;
        cursor: pointer;
        &__btn {
          display: block;
        }
      }
    }
    &__right {
      width: 136px;
      height: 34px;
      float: right;
      margin-top: 15px;
      &__tweet {
        width: 56px;
        height: 20px;
        float: right;
        &__btn {
          background-color: #1da1f2;
          padding: 6px 16px;
          margin: 1px;
          font-size: 14px;
          font-weight: bold;
          color: #fff;
          border-radius: 50px;
          cursor: pointer;
        }
      }
    }
  }
}

button {
  width: 100px;
  height: 50px;
  font-size: 1.2em;
  color: #D04255;
  background-color: #FFF;
  border: solid 2px #4AB3F4;
  border-radius: 3px;
  transition: .4s;
}

button:hover {
  background: #4a9ef4;
  cursor : pointer;
  color: #FFF;
}

// サイド部分
.content__left {
  width: 300px;
  padding-top: 46px;
  margin-top: 10px;
  margin-left: 125px;
  float: left;
  &__profile {
    width: 300px;
    height: 250px;
    &__over {
      background-color: #1da1f2 !important;
      height: 90px;
    }
    &__middle {
      width: 300px;
      background-color: white;
      &__top {
        width: 300px;
        height: 50px;
        &__imagebox {
          width: 72px;
          height: 72px;
          margin-top: -20px;
          margin-left: 10px;
          &__image {
            border-radius: 50%;
            border: 2px solid #fff;
          }
        }
      }
      &__under {
        width: 150px;
        height: 50px;
        margin-left: 90px;
        margin-top: -10px;
        &__nickname {
          height: 25px;
          font-size: 18px;
          color: #14171a;
          font-weight: bold;
        }
        &__name {
          height: 25px;
          font-size: 14px;
          color: #6e7a86;
        }
      }
    }
    &__under {
      width: 300px;
      &__tweet {
        float: left;
        background-color: white;
        &__text {
          width: 85px;
          color: #657786;
          font-weight: bold;
          font-size: 12px;
          margin-top: 5px;
          margin-left: 15px;
        }
        &__count {
          width: 85px;
          color: #1da1f2 !important;
          font-weight: bold;
          font-size: 18px;
          margin-left: 15px;
          margin-bottom: 10px;
        }
      }
      &__follow {
        float: left;
        background-color: white;
        &__text {
          width: 85px;
          color: #657786;
          font-weight: bold;
          font-size: 12px;
          margin-top: 5px;
          margin-left: 15px;
        }
        &__count {
          width: 85px;
          color: #1da1f2 !important;
          font-weight: bold;
          font-size: 18px;
          margin-left: 15px;
          margin-bottom: 10px;
        }
      }
      &__follower {
        float: left;
        background-color: white;
        &__text {
          width: 85px;
          color: #657786;
          font-weight: bold;
          font-size: 12px;
          margin-top: 5px;
          margin-left: 15px;
        }
        &__count {
          width: 85px;
          color: #1da1f2 !important;
          font-weight: bold;
          font-size: 18px;
          margin-left: 15px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

// body部分
.content__main {
  width: 560px;
  padding: 56px 12px;
  float: left;
  &__head {
    background-color: #E8F5FD;
    width: 100px;
    height: 20px;
    padding: 15px 242px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #1da1f2;
    &__repeat {
      width: 30px;
      float: left;
      text-align: center;
    }
    &__text {
      width: 60px;
      font-size: 14px;
      float: left;
      text-align: left;
    }
  }
// ツイート部分
  &__body {
    background-color: white;
    width: 560px;
    height: 100%;
    padding: 12px 12px;
    overflow: hidden;
    border-color: #e6ecf0;
    border-width: 1px;
    border-style: solid;
    &__avater {
      background-color: white;
      width: 50px;
      height: 100%;
      float: left;
      margin-right: 10px;
      &__image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    &__content {
      width: 500px;
      float: left;
      &__over {
        width: 500px;
        overflow: hidden;
        &__name {
          color: #14171a;
          font-size: 14px;
          font-weight: bold;
          float: left;
        }
        &__nickname {
          color: #657786;
          font-size: 14px;
          float: left;
          padding-left: 3px;
        }
        &__timestamp {
          color: #657786;
          font-size: 14px;
          float: left;
          padding-left: 10px;
        }
        &__menu {
          color: #657786;
          float: right;
        }
      }
      &__middle {
        width: 500px;
        &__text {
        width: 500px;
        color: #141738;
        font-size: 14px;
        }
        &__image {
        width: 500px;
        }
      }
      &__under {
        font-size: 16px;
        font-weight: bold;
        color: #657786;
        padding-top: 5px;
        overflow: hidden;
        &__reply {
          width: 80px;
          height: 20px;
          float: left;
          &__icon {
            float: left;
          }
          &__count {
            font-size: 12px;
            float: left;
            padding-left: 5px;
          }
        }
        &__retweet {
          width: 80px;
          height: 20px;
          float: left;
          &__icon {
            float: left;
          }
          &__count {
            font-size: 12px;
            float: left;
            padding-left: 5px;
          }
        }
        &__like {
          width: 80px;
          height: 20px;
          float: left;
          &__icon {
            font-size: 12px;
            float: left;
          }
          &__count {
            font-size: 12px;
            float: left;
            padding-left: 5px;
          }
        }
        &__message {
          width: 80px;
          height: 20px;
          float: left;
          &__icon {
            font-size: 12px;
            float: left;
          }
        }
      }
    }
  }
}
